<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jjvu.dormitory.mapper.LeaveSchoolRecordsMapper" >
  <resultMap id="BaseResultMap" type="com.jjvu.dormitory.po.LeaveSchoolRecords" >
    <id column="LEAVE_RECODES_ID" property="leaveRecodesId" jdbcType="VARCHAR" />
    <result column="STUDENT_EXAM_NUM" property="studentExamNum" jdbcType="VARCHAR" />
    <result column="LEAVE_RECODES_TIME" property="leaveRecodesTime" jdbcType="VARCHAR" />
    <result column="LEAVE_RECODES_STATE" property="leaveRecodesState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    LEAVE_RECODES_ID, STUDENT_EXAM_NUM, LEAVE_RECODES_TIME, LEAVE_RECODES_STATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jjvu.dormitory.po.LeaveSchoolRecordsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from leave_school_records
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from leave_school_records
    where LEAVE_RECODES_ID = #{leaveRecodesId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from leave_school_records
    where LEAVE_RECODES_ID = #{leaveRecodesId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jjvu.dormitory.po.LeaveSchoolRecordsExample" >
    delete from leave_school_records
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jjvu.dormitory.po.LeaveSchoolRecords" >
    insert into leave_school_records (LEAVE_RECODES_ID, STUDENT_EXAM_NUM, LEAVE_RECODES_TIME, 
      LEAVE_RECODES_STATE)
    values (#{leaveRecodesId,jdbcType=VARCHAR}, #{studentExamNum,jdbcType=VARCHAR}, #{leaveRecodesTime,jdbcType=VARCHAR}, 
      #{leaveRecodesState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jjvu.dormitory.po.LeaveSchoolRecords" >
    insert into leave_school_records
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="leaveRecodesId != null" >
        LEAVE_RECODES_ID,
      </if>
      <if test="studentExamNum != null" >
        STUDENT_EXAM_NUM,
      </if>
      <if test="leaveRecodesTime != null" >
        LEAVE_RECODES_TIME,
      </if>
      <if test="leaveRecodesState != null" >
        LEAVE_RECODES_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="leaveRecodesId != null" >
        #{leaveRecodesId,jdbcType=VARCHAR},
      </if>
      <if test="studentExamNum != null" >
        #{studentExamNum,jdbcType=VARCHAR},
      </if>
      <if test="leaveRecodesTime != null" >
        #{leaveRecodesTime,jdbcType=VARCHAR},
      </if>
      <if test="leaveRecodesState != null" >
        #{leaveRecodesState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jjvu.dormitory.po.LeaveSchoolRecordsExample" resultType="java.lang.Integer" >
    select count(*) from leave_school_records
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update leave_school_records
    <set >
      <if test="record.leaveRecodesId != null" >
        LEAVE_RECODES_ID = #{record.leaveRecodesId,jdbcType=VARCHAR},
      </if>
      <if test="record.studentExamNum != null" >
        STUDENT_EXAM_NUM = #{record.studentExamNum,jdbcType=VARCHAR},
      </if>
      <if test="record.leaveRecodesTime != null" >
        LEAVE_RECODES_TIME = #{record.leaveRecodesTime,jdbcType=VARCHAR},
      </if>
      <if test="record.leaveRecodesState != null" >
        LEAVE_RECODES_STATE = #{record.leaveRecodesState,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update leave_school_records
    set LEAVE_RECODES_ID = #{record.leaveRecodesId,jdbcType=VARCHAR},
      STUDENT_EXAM_NUM = #{record.studentExamNum,jdbcType=VARCHAR},
      LEAVE_RECODES_TIME = #{record.leaveRecodesTime,jdbcType=VARCHAR},
      LEAVE_RECODES_STATE = #{record.leaveRecodesState,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jjvu.dormitory.po.LeaveSchoolRecords" >
    update leave_school_records
    <set >
      <if test="studentExamNum != null" >
        STUDENT_EXAM_NUM = #{studentExamNum,jdbcType=VARCHAR},
      </if>
      <if test="leaveRecodesTime != null" >
        LEAVE_RECODES_TIME = #{leaveRecodesTime,jdbcType=VARCHAR},
      </if>
      <if test="leaveRecodesState != null" >
        LEAVE_RECODES_STATE = #{leaveRecodesState,jdbcType=VARCHAR},
      </if>
    </set>
    where LEAVE_RECODES_ID = #{leaveRecodesId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jjvu.dormitory.po.LeaveSchoolRecords" >
    update leave_school_records
    set STUDENT_EXAM_NUM = #{studentExamNum,jdbcType=VARCHAR},
      LEAVE_RECODES_TIME = #{leaveRecodesTime,jdbcType=VARCHAR},
      LEAVE_RECODES_STATE = #{leaveRecodesState,jdbcType=VARCHAR}
    where LEAVE_RECODES_ID = #{leaveRecodesId,jdbcType=VARCHAR}
  </update>
</mapper>